html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: color 150ms ease-out, background-color 150ms ease-out;
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(253, 255, 157, 0.9);
  box-shadow: inset 0px 0px 150px 70px rgba(71, 114, 2, 0.3);
  padding-bottom: 100px;
}

.heading {
  margin: 0px 0px 60px 0px;
  font-family: 'Cantarell', 'Ubuntu';
  font-size: 60px;
  color: rgba(31, 31, 31, 0.9);
  font-style: italic;
  font-weight: 500;
}

.timer {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  color: rgba(31, 31, 31, 0.9);
  font-family: 'Cantarell', 'Ubuntu';
  font-size: 50px;
  font-weight: 500;
}

.field {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.value {
  min-width: 70px;
  font-size: 60px;
  color: palevioletred;
}

.value:not(:last-child) {
  margin-right: 6px;
}

.label {
  font-style: italic;
}
